DISCORD_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE

DISCORD_GUILD_ID=
=======
-
DISCORD_GUILD_ID=
=======

DISCORD_GUILD_ID=
=======

DISCORD_GUILD_ID=
=======
DISCORD_GUILD_ID=1378000411251839067




DATABASE_PATH=pulseguard.db
